<div class="contenedor-imagen">
  <img class="imagen" src="../../../assets/img/homepage/banner.png" alt="banner">
</div>
<mat-grid-list cols="12" style="background-color: var(--color-palette-quinary);" rowHeight="1:8">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="8">
    <div class="contenedor-lateral-izquierdo">
      <h1 style="font-size: 36px; line-height: 45px; text-align: left">Forja el éxito de tu negocio</h1>
      <h2 style="font-size: 22px; line-height: 1.3em;text-align: left">Acelera el crecimiento de tu marca mediante un diseño web y desarrollo profesional.</h2>
      <br/>
      <p style="font-size: 17px; text-align: left">TechForge se distingue como una agencia líder en marketing digital, con más de una década de experiencia en el desarrollo web. </p>
      <br/>
      <p style="font-size: 17px; text-align: left">Nos comprometemos a potenciar la presencia online de tu marca, brindándote acceso a nuestra sólida experiencia y conocimientos en el diseño y desarrollo de páginas web de última generación, respaldadas por tecnología avanzada y una variedad de herramientas de marketing.</p>
    </div>
    <div class="contenedor-lateral-derecho">
      <h3 style="font-size: 36px;;line-height: 32px;text-align: center">
        NUESTROS SERVICIOS DE DESARROLLO WEB INCLUYEN:
      </h3>
      <div class="celdas">
        <p>Creación de secciones y contenidos ilimitados para que puedas mostrar todo lo que tu negocio ofrece.</p>
      </div>
      <div class="celdas">
        <p>Plataforma autoadministrable que te permite editar y gestionar fácilmente el contenido de tu página web.</p>
      </div>
      <div class="celdas">
        <p>Análisis detallado del tráfico web con Google Analytics y Facebook Pixel para optimizar tus estrategias de marketing.</p>
      </div>
      <div class="celdas">
        <p>Diseño personalizado y exclusivo adaptado a la identidad de tu marca, evitando el uso de plantillas genéricas.</p>
      </div>
      <div class="celdas">
        <p>Optimización para motores de búsqueda (SEO) como Google, Bing y Yahoo para mejorar tu visibilidad online.</p>
      </div>
      <div class="celdas">
        <p>Garantía de funcionamiento óptimo en dispositivos móviles, tablets y computadoras de escritorio.</p>
      </div>
      <div class="celdas">
        <p>Integración fluida con redes sociales y otras plataformas relevantes para maximizar tu alcance digital.</p>
      </div>
      <div class="celdas">
        <p>Blog en el que puedes publicar artículos, galerías y otros contenidos.</p>
      </div>
      <div class="celdas">
        <p>Capacitación personalizada para que tu equipo pueda administrar eficazmente la página web de tu negocio.</p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
