<mat-grid-list id="grid" cols="12" style="background-color: var(--color-palette-quinary); height: 100vh;" [rowHeight]="rowHeight">
  <mat-grid-tile id="banner" [colspan]="colsPanBanner">
    <div class="contenedor-banner">
      <div style=" margin-top: 1em;
        text-align: -webkit-center; border-radius: 1em; -webkit-backdrop-filter: blur(1.5rem); backdrop-filter: blur(3rem);
        border: 2px solid rgba(255, 255, 255, 0.7); padding: 1em;">
        <span class="fuente-mision">
          <b id="titulo" style="font-size: 3.5rem;"> Somos una empresa líder en desarrollo de software que transforma ideas en realidad a través de la codificación. </b>
          <br>
          <br>
          <div *ngIf="this.mostrarResumenConSlogan">
            Ofrecemos una amplia gama de servicios que incluyen desarrollo full-stack, diseño de experiencia de usuario, procesamiento de grandes volúmenes de datos y
            sistemas de gestión de información, entre otros.
            Nuestro equipo está compuesto por profesionales apasionados y dedicados que se comprometen a entender las necesidades de
            sus clientes y ofrecer soluciones personalizadas que impulsen el éxito y crecimiento.
            Con el enfoque en la innovación y la calidad, nos destacamos por superar
            las expectativas de los clientes en cada proyecto, manteniendo nuestro lema de:
            <span class="fuente-slogan-titulo">Codificar tus sueños en la realidad</span>
          </div>
          </span>
        <br>
        <div class="mat-elevation-z0 formulario-banner">
          <mat-form-field appearance="fill" style="margin: 0.5em;">
            <mat-label>Nombre completo</mat-label>
            <input matInput [formControl]="nombre" [(ngModel)]="nombreCompleto" required >
            <mat-error *ngIf="nombre.hasError('required')">El nombre es requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" style="margin: 0.5em;">
            <mat-label>Correo electrónico</mat-label>
            <input matInput
            placeholder="pat@example.com"
                  [formControl]="email"
                  [(ngModel)]="correoElectronico"
                  (blur)="updateErrorMessage()"
                  required>
            @if (email.invalid) {
              <mat-error>{{errorMessage}}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill" style="margin: 0.5em;">
            <mat-label>Numero telefónico</mat-label>
            <input matInput
              placeholder="55-55-55-55-55"
              type="text"
              [formControl]="telefono"
              minlength="10"
              maxlength="15"
              mask="00-00-00-00-00"
              [dropSpecialCharacters]="true"
              [(ngModel)]="telefonoFormateado"
              required>
            <mat-error *ngIf="telefono.hasError('required')">El teléfono es requerido</mat-error>
            <mat-error *ngIf="telefono.hasError('maxlength')">El teléfono no puede ser de mas de 13 digitos</mat-error>
            <mat-error *ngIf="telefono.hasError('minlength')">El teléfono no puede ser de menos de 10 digitos</mat-error>
            <mat-error *ngIf="telefono.hasError('pattern')">El teléfono no tiene un formato válido</mat-error>
          </mat-form-field>
          <button mat-flat-button color="warn" (click)="enviarFormulario()" style="margin: 0.5em;">Enviar</button>
        </div>
      </div>
  </div>
  </mat-grid-tile>
  <mat-grid-tile id="sobre-nosotros" [colspan]="colsPanSobreNosotros" rowspan="1" style="padding: 1em;">
    <app-about-us style="width: 100%; height: 100%;"></app-about-us>
  </mat-grid-tile>
  <mat-grid-tile id="servicios" [colspan]="colsPanServicios" style="padding: 1em;">
    <div class="container-fluid contenedor-central">
      <div class="contenedor-titulo">
      </div>
      <h1 style="font-size: 2rem;">ESTOS SON LOS SERVICIOS QUE TE PUEDEN INTERESAR</h1>

      <!-- SEO -->
      <div class="contenedor" *ngIf="!this.muestraDescripcionServicios">
        <a href="#">
             <figure>
                 <img src="../../../assets/icons/SEO.png">
                 <div class="capa">
                     <h3>Optimización del SEO</h3>
                     <p>Optimización para motores de búsqueda (SEO) como Google, Bing y Yahoo para mejorar tu visibilidad online.</p>
                 </div>
             </figure>
         </a>
          <!-- Diseño Web -->
          <a href="#">
            <figure>
                <img src="../../../assets/icons/DesignWeb-Custom.png">
                <div class="capa">
                    <h3>Diseño Web</h3>
                    <p>Diseño personalizado y exclusivo adaptado a la identidad de tu marca, evitando el uso de plantillas genéricas.</p>
                </div>
            </figure>
        </a>
      <!-- Responsividad -->
        <a href="#">
            <figure>
                <img src="../../../assets/icons/Responsividad.png">
                <div class="capa">
                    <h3>Responsividad</h3>
                    <p>Garantía de funcionamiento óptimo en dispositivos móviles, tablets y computadoras de escritorio.</p>
                </div>
            </figure>
        </a>
      <!-- Blogs -->
        <a href="#">
            <figure>
                <img src="../../../assets/icons/Blogs.png">
                <div class="capa">
                    <h3>Blogs</h3>
                    <p>Blog en el que puedes publicar artículos, galerías y otros contenidos.</p>
                </div>
            </figure>
        </a>
    <!-- Integración -->
      <a href="#">
          <figure>
              <img src="../../../assets/icons/RedesSociales.png">
              <div class="capa">
                  <h3>Integración en redes sociales</h3>
                  <p>Integración fluida con redes sociales y otras plataformas relevantes para maximizar tu alcance digital.</p>
              </div>
          </figure>
      </a>
    <!-- Secciones y contenidos ilimitados -->
      <a href="#">
          <figure>
              <img src="../../../assets/icons/ContenidoIlimitado.png">
              <div class="capa">
                  <h3>Secciones y contenidos ilimitados</h3>
                  <p>Creación de secciones y contenidos ilimitados para que puedas mostrar todo lo que tu negocio ofrece.</p>
              </div>
          </figure>
      </a>
      </div>
      <div style=" margin: 1em;;
      text-align: -webkit-center; border-radius: 1em; -webkit-backdrop-filter: blur(1.5rem); backdrop-filter: blur(3rem);
      border: 2px solid rgba(255, 255, 255, 0.7); padding: 1em;"  *ngIf="this.muestraDescripcionServicios">
        <ul>
          <li>
            <span>Optimización para motores de búsqueda (SEO) como Google, Bing y Yahoo para mejorar tu visibilidad online.</span>
          </li>
          <li>
            <span>Diseño personalizado y exclusivo adaptado a la identidad de tu marca, evitando el uso de plantillas genéricas.</span>
          </li>
          <li>
            <span>Garantía de funcionamiento óptimo en dispositivos móviles, tablets y computadoras de escritorio.</span>
          </li>
          <li>
            <span>Blog en el que puedes publicar artículos, galerías y otros contenidos.</span>
          </li>
          <li>
            <span>Integración fluida con redes sociales y otras plataformas relevantes para maximizar tu alcance digital.</span>
          </li>
          <li>
            <span>Creación de secciones y contenidos ilimitados para que puedas mostrar todo lo que tu negocio ofrece.</span>
          </li>
        </ul>
      </div>
    </div>
  </mat-grid-tile>
<!-- <mat-grid-tile id="lateral-izquierdo" [colspan]="colsPanLateralIzquierdo"></mat-grid-tile>
<mat-grid-tile id="descripcion" [colspan]="colsPanDescripcion" style="padding: 1em; max-height: 100%;">
  <div class="contenedor-lateral-izquierdo">
    <h1 style="font-size: 36px; line-height: 45px; text-align: left">Forja el éxito de tu negocio</h1>
    <h2 style="font-size: 22px; line-height: 1.3em;text-align: left">Acelera el crecimiento de tu marca mediante un diseño web y desarrollo profesional.</h2>
    <p style="font-size: 17px; text-align: left">TechForge se distingue como una agencia líder en marketing digital, con más de una década de experiencia en el desarrollo web. </p>
    <p style="font-size: 17px; text-align: left">Nos comprometemos a potenciar la presencia online de tu marca, brindándote acceso a nuestra sólida experiencia y conocimientos en el diseño y desarrollo de páginas web de última generación, respaldadas por tecnología avanzada y una variedad de herramientas de marketing.</p>
  </div>
  <div class="contenedor-lateral-derecho" style="position: relative;">
    <h3 style="font-size: 36px;;line-height: 32px;text-align: center">
      <b>
        Nuestros servicios de desarrollo WEB incluyen:
      </b>
    </h3>
    <div class="celdas">
      <p>Creación de secciones y contenidos ilimitados para que puedas mostrar todo lo que tu negocio ofrece.</p>
    </div>
    <div class="celdas">
      <p>Diseño personalizado y exclusivo adaptado a la identidad de tu marca, evitando el uso de plantillas genéricas.</p>
    </div>
    <div class="celdas">
      <p>Optimización para motores de búsqueda (SEO) como Google, Bing y Yahoo para mejorar tu visibilidad online.</p>
    </div>
    <div class="celdas">
      <p>Garantía de funcionamiento óptimo en dispositivos móviles, tablets y computadoras de escritorio.</p>
    </div>
    <div class="celdas">
      <p>Integración fluida con redes sociales y otras plataformas relevantes para maximizar tu alcance digital.</p>
    </div>
  <div class="celdas">
    <p>Blog en el que puedes publicar artículos, galerías y otros contenidos.</p>
  </div>
</div>
</mat-grid-tile>
<mat-grid-tile id="lateral-derecho" [colspan]="colsPanLateralDerecho"></mat-grid-tile> -->
<!-- <mat-grid-tile id="galeria" [colspan]="colsPanGaleria">
  <div class="container-fluid contenedor-central alterno" style="padding: 1em;">
    <h1 style="font-size: 4.5rem;">Lo que ofrecemos</h1>
    <div class="espacio"></div>

    <div class="carrousel">
      <section>
        <img src="../../../assets/icons/SEO.png" alt="logo" width="300px">
        <img src="../../../assets/icons/DesignWeb-Custom.png" alt="logo" width="300px">
        <img src="../../../assets/icons/Responsividad.png" alt="logo" width="300px">
        <img src="../../../assets/icons/Blogs.png" alt="logo" width="300px">
        <img src="../../../assets/icons/RedesSociales.png" alt="logo" width="300px">
      </section>
    </div>
  </div>
</mat-grid-tile> -->
<mat-grid-tile id="formulario" [colspan]="colsPanFormulario" style="background-color: var(--color-palette-quinary);  max-height: 75% !important;">
  <div class="container-fluid" style="padding: 0em; margin-right: 4em;">
    <div class="mat-elevation-z8 formulario">
      <b> <h2 style="font-size: 32px;">Proporcione sus datos y lo contactaremos</h2> </b>
      <mat-form-field appearance="fill" style="margin-top: 1em;">
        <mat-label>Nombre completo</mat-label>
        <input matInput [formControl]="nombre" [(ngModel)]="nombreCompleto" required >
        <mat-error *ngIf="nombre.hasError('required')">El nombre es requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input matInput
               placeholder="pat@example.com"
               [formControl]="email"
               [(ngModel)]="correoElectronico"
               (blur)="updateErrorMessage()"
               required>
        @if (email.invalid) {
          <mat-error>{{errorMessage}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Numero telefónico</mat-label>
        <input matInput
          placeholder="55-55-55-55-55"
          type="text"
          [formControl]="telefono"
          minlength="10"
          maxlength="15"
          mask="00-00-00-00-00"
          [dropSpecialCharacters]="true"
          [(ngModel)]="telefonoFormateado"
          required>
        <mat-error *ngIf="telefono.hasError('required')">El teléfono es requerido</mat-error>
        <mat-error *ngIf="telefono.hasError('maxlength')">El teléfono no puede ser de mas de 13 digitos</mat-error>
        <mat-error *ngIf="telefono.hasError('minlength')">El teléfono no puede ser de menos de 10 digitos</mat-error>
        <mat-error *ngIf="telefono.hasError('pattern')">El teléfono no tiene un formato válido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de la compañía</mat-label>
        <input matInput
          [formControl]="compania"
          [(ngModel)]="nombreCompania">
      </mat-form-field>
      <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
        <mat-label>Servicios de su interes</mat-label>
        <mat-select [slot]="" [formControl]="servicios"  multiple>
          <mat-option value="1">Diseño y desarrollo del sitio web</mat-option>
          <mat-option value="2">Optimización del motor de búsqueda (SEO)</mat-option>
          <mat-option value="3">Administración de las redes sociales</mat-option>
          <mat-option value="4">Otros</mat-option>
        </mat-select>
        <mat-error *ngIf="servicios.hasError('required')">Los servicios son requeridos</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <textarea [placeholder]="'¿En qué le podemos ayudar?'" [formControl]="ayuda" matInput rows="5"></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="enviarFormulario()">Enviar información</button>
    </div>
  </div>
</mat-grid-tile>
<mat-grid-tile id="complemento-formulario" [colspan]="colsPanComplementoFormulario" style="background-color: var(--color-palette-quinary); max-height: 75% !important;">
  <div class="complemento">
    <h2 style="font-size: 32px; color: white;">
      ¿Listo para hablar con un experto?
    </h2>
    <br>
    <h2 style="font-size: 32px; color: white;">
      Márcanos al (+52)55-84-93-51-23
    </h2>
    <br>
    <mat-list dense>
        <mat-list-item>
          <p style="color: white;">
            <mat-icon matListItemIcon>done_outline</mat-icon>
            Expertos en la creación de sitios web
          </p>
        </mat-list-item>
        <mat-list-item>
          <p style="color: white;">
            <mat-icon matListItemIcon>done_outline</mat-icon>
            Múltiples sitios ya desarrollados
          </p>
        </mat-list-item>
        <mat-list-item>
          <p style="color: white;">
            <mat-icon matListItemIcon>done_outline</mat-icon>
            Muchos clientes satisfechos
          </p>
        </mat-list-item>
    </mat-list>
  </div>
</mat-grid-tile>
</mat-grid-list>
