.docs-footer {
  padding: 12px;
  font-size: 12px;
  /* height: 100px; */
  .version {
    margin: 0 40px;
    color: white;
  }
  @media (min-width: 885px) {
    margin-top: 0;
  }

}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-logo {
  flex: content;
  max-width: fit-content;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;

  .angular-material-logo {
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 16px;
  }
  .version {
    margin: 0 40px;
    color: white;
  }
}

.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  margin-top: 16px;
  color: white;

  > div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
  }

  @media (min-width: 885px) {
    margin-top: 0;
  }
}

.docs-footer-logo span {
  display: inline-block;
  line-height: 50px;
  /* margin: 0 40px; */
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: white;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  padding: 10px; /* Espacio interior del footer */
  z-index: 9999; /* Asegura que esté por encima del contenido */
}

@media screen and (max-width: 884px){
  .docs-footer-list {
    flex-direction: column;
  }
  h4{
    font-size: small;
  }
}
@media screen and (max-width: 574px) {
  .docs-footer{
    display: none;
  }
}
