<footer class="docs-footer" style="background-color: black;">
  <mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile>
      <button mat-button (click)="CargarDonaciones()">
        <img class="docs-footer-angular-logo"
        src="../../../assets/img/logoSinFondo.png"
        alt="Angular icon"
        width="48px">
      </button>
      <h4 style="color: white;">Presiona en el logo para apoyarme y seguir haciendo contenido así</h4>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4 style="color: white;">Repositorio de GitHub: <a href="https://github.com/angelortiz0398/TechForge">TechForge</a></h4>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4 style="color: white;">¿Quieres contactarme? Hazlo con este email: <b> angelortiz&#64;techforge.website </b></h4>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
