<div class="wrapper_outer">
	<div class="wrapper">

		<section class="parallax_section">
			<div class="parallax_bg" style="background-image: url(https://images.unsplash.com/photo-1518611507436-f9221403cca2);" loading="lazy"></div>

      <mat-grid-list cols="12" rowHeight="100%" style="height: 100vh; width: 100%;">
        <mat-grid-tile [colspan]="this.colspanIzquierda" style="width: 50%;">
          <div></div>
        </mat-grid-tile>
        <mat-grid-tile class="full-width-tile" [colspan]="this.colspanDerecha">
          <div class="contenedor-about">
            <h2 class="fuente-titulo-acerca">
              Sobre nosotros
              <br>
              <h3 class="fuente-cuerpo-acerca">En TechForge, creemos en el poder de la codificación para convertir ideas en realidad.
                Fundada en 2023, nuestra empresa ha crecido desde sus humildes comienzos hasta convertirse en un líder en el desarrollo de software.
                A lo largo de los años, hemos marcado hitos significativos y hemos ayudado a numerosos clientes a hacer que sus sueños digitales cobren vida.
              </h3>
            </h2>
            <h2 class="fuente-titulo-acerca">
              Nuestros Valores Fundamentales
              <br>
              <h3 class="fuente-cuerpo-acerca">
                Nuestros valores fundamentales: pasión por la codificación, innovación, creatividad y colaboración.
                Estos valores nos guían en cada proyecto y nos impulsan a alcanzar la excelencia en todo lo que hacemos.
              </h3>
            </h2>
            <h2 class="fuente-titulo-acerca">
              Enfoque en el Cliente
              <br>
              <h3 class="fuente-cuerpo-acerca">
                Nos comprometemos a trabajar en estrecha colaboración con nuestros clientes para comprender sus necesidades y objetivos.
                Nuestro equipo dedicado se esfuerza por ofrecer soluciones personalizadas que impulsen el éxito y el crecimiento de cada cliente.
              </h3>
            </h2>
            <h2 class="fuente-titulo-acerca">
              Nuestro Equipo
              <br>
              <h3 class="fuente-cuerpo-acerca">
                Contamos con un equipo de profesionales apasionados y dedicados. Desde desarrolladores hasta diseñadores y gerentes de proyecto, cada miembro de nuestro equipo aporta una experiencia única y un compromiso inquebrantable con la excelencia.
              </h3>
            </h2>
            <h2 class="fuente-titulo-acerca">
              Enfoque en la Innovación
              <br>
              <h3 class="fuente-cuerpo-acerca">
                Nos enorgullece estar a la vanguardia de la innovación en el desarrollo de software.
                Constantemente buscamos nuevas formas de transformar ideas en productos digitales innovadores que marquen la diferencia en la vida de las personas.
              </h3>
            </h2>
            <h2 class="fuente-titulo-acerca">
              Compromiso con la Calidad
              <br>
              <h3 class="fuente-cuerpo-acerca">
                Nuestro compromiso con la calidad es inquebrantable.
                Nos esforzamos por ofrecer servicios de la más alta calidad, utilizando la última tecnología y técnicas creativas para superar las expectativas de nuestros clientes en cada proyecto.
              </h3>
            </h2>
            <h2 class="fuente-titulo-acerca">
              Impacto en la Comunidad
              <br>
              <h3 class="fuente-cuerpo-acerca">
                Creemos en hacer una diferencia positiva en la comunidad. Nos involucramos en iniciativas comunitarias y proyectos de responsabilidad social corporativa para contribuir al bienestar de aquellos que nos rodean.
              </h3>
            </h2>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
		</section>
	</div>
</div>

