*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper_outer{
	height: 100%;
	overflow: hidden;
}
.wrapper{
	height: 100%;
  width: 100%;
	overflow-x: hidden;

	perspective: 1px;
}

.parallax_section{
	box-sizing: border-box;
	min-height: 100%;
	/* padding: 10vh 10vh; */
	position: relative;
	width: 100%;
  height: 100%;
	display: flex;
	align-items: right;
	justify-content: center;
	z-index: 1;

	overflow: hidden;

	transform-style: preserve-3d;
}
.parallax_bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	min-height: 100%;

	/* transform: translate3d(0,0,-1px)  !important; */
}
h2{
	color: black!important;
	margin: 0 0 10px !important;
	font-size: 50px !important;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4) !important;
	text-align: center !important;
	/* text-transform: uppercase !important; */
}

.contenedor-about{
  margin: 3em;
  text-align: -webkit-center;
  padding: 0em;
  height: -webkit-fill-available;
  .fuente-titulo-acerca{
    font-size: 18px;
    line-height: 1.1;
  }
  .fuente-cuerpo-acerca{
    font-size: 16px;
  }
}

.full-width-tile {
  background-color: #E0E1DC;
  /* background-image: url('https://images.unsplash.com/photo-1711968267738-e449cae79ffa'); */
  background-attachment: fixed;
  background-size: cover !important;
  background-position: center !important;
  /* lazy: loading; */
  position: absolute;
  overflow: auto;
  z-index: -1;
}

.full-width-tile::after {
  content: ''; /* Añadimos un pseudo-elemento ::after para crear el degradado */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px; /* Altura del degradado, ajusta este valor según tus necesidades */
  /* background-image: linear-gradient(to bottom, rgba(224, 225, 220, 0), rgba(224, 225, 220, 1));  */
}

@media screen and (width < 419px) {
  .contenedor-about{
    .fuente-titulo-acerca{
        font-size: 10px ;
        line-height: 1 ;
        .fuente-cuerpo-acerca{
            font-size: 9px ;
        }
    }
    h2.fuente-titulo-acerca{
      font-size: 20px !important;
    }
  }
}

@media screen and (width> 420px) and (width < 719px) {
  .full-width-tile {
      grid-column: span 12;
  }
  .contenedor-about{
    .fuente-titulo-acerca{
        font-size: 12px ;
        line-height: 1 ;
        .fuente-cuerpo-acerca{
            font-size: 10px ;
        }
    }
  }
}

@media screen and (width > 720px) and (width < 1279px) {
  .contenedor-about{
    .fuente-titulo-acerca{
        font-size: 16px ;
        line-height: 1.1 ;
        .fuente-cuerpo-acerca{
            font-size: 14px ;
        }
    }
  }
}


@media screen and (width > 1280px) and (width < 4320px) {
  .contenedor-about{
    .fuente-titulo-acerca{
        font-size: 19px ;
        line-height: 1.2 ;
        .fuente-cuerpo-acerca{
            font-size: 17px ;
        }
    }
  }
}
