.example-spacer {
  flex: 1 1 auto;
}

main {
  min-height: 60%; /* El contenido de main ocupa el 100% del alto disponible */
  height: 70%;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  margin-bottom: 10%;
}


.toolbar-fixed {
  position: fixed; /* Fija el div en la pantalla */
  z-index: 9999; /* Asegura que esté por encima del contenido */
  pointer-events: none; /* Evita que los eventos de clic y toque se propaguen al toolbar */
  height: 50px;
  padding: 0px;
  backdrop-filter: blur(5rem);
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  background-color: black;
}

/* Estilo opcional para los elementos hijos del toolbar que necesitan ser clicables */
.toolbar-fixed button, .toolbar-fixed a {
  pointer-events: auto; /* Habilita los eventos de clic y toque en los elementos hijos */
}

.menu-herramientas{
  /* button{
    max-width: 48px;
  } */
  button{
    span{
      color: var(light-dark(white,dark)) !important;
    };
  }
}

.mat-mdc-button:not(:disabled) {
  color: #ffffff
}

.docs-footer-angular-logo{
  filter: invert(80%) sepia(103%) saturate(20000%) hue-rotate(360deg) brightness(67%) contrast(83%);
}
