
<mat-toolbar class="toolbar-fixed">
  <button mat-button (click)="redireccionarPrincipal()" style="margin-top: 8px;">
    <img class="docs-footer-angular-logo"
    src="../../../assets/img/logo.png"
    width="36px"
    alt="Angular icon">
  </button>
  <h1 style="color: black;" (click)="redireccionarHome()">TECHFORGE</h1>
  <span class="example-spacer"></span>
  <div class="menu-herramientas">
    <button style="margin-right: 16px;" mat-button (click)="redireccionarHome()">
      <mat-icon>home</mat-icon> Home
    </button>
    <button style="margin-right: 16px;" mat-button [matMenuTriggerFor]="tools">
      <mat-icon>menu</mat-icon> Herramientas
    </button>
    <mat-menu #tools="matMenu" xPosition="after">
      <button mat-menu-item [matMenuTriggerFor]="finances">
        Contables
      </button>
    </mat-menu>
    <mat-menu #finances="matMenu" yPosition="below" xPosition="after">
      <button mat-menu-item (click)="redireccionarConversorXMLToXLSX()">Convertidor de facturas (CFDI) a XLSX</button>
      <button mat-menu-item>Convertidor de facturas (CFDI) a PDF</button>
    </mat-menu>
  </div>
  <mat-slide-toggle [checked]="!this.OscuroActivado" (toggleChange)="CambioModoOscuro()" color="primary" style="margin-right: 10px;">
    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon" *ngIf="!this.OscuroActivado">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon" *ngIf="this.OscuroActivado">
      <mat-icon>light_mode</mat-icon>
    </button>
      <!-- <h4 style="color: black;" *ngIf="!this.OscuroActivado">
        Tema oscuro
      </h4>
      <h4 style="color: black;" *ngIf="this.OscuroActivado">
        Tema claro
      </h4> -->
  </mat-slide-toggle>
  <button mat-icon-button class="example-icon" (click)="Compartir()">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<br>
<main>
  <app-main-layout></app-main-layout>
</main>
<app-footer></app-footer>
