<div class="container">
  <h2>Servicios</h2>
  <ul>
    <li>Desarrollo Full Stack</li>
    <li>Herramientas de facturación</li>
    <li>Plataformas para atención al Cliente</li>
    <li>Diseño de Experiencia de Usuario (UX)</li>
    <li>Procesamiento de Grandes Volúmenes de Datos</li>
    <li>Sistemas de Gestión de Información (MIS)</li>
    <li>Análisis de Datos Estadísticos</li>
    <li>Administración de Bases de Datos</li>
  </ul>
  <h2>Herramientas y Lenguajes de Programación</h2>
  <ul>
    <li>HTML</li>
    <li>MudBlazor</li>
    <li>ASP.NET Web API</li>
    <li>SAP ERP</li>
    <li>Full-Stack Development</li>
    <li>Angular Framework</li>
    <li>Programación Orientada a Objetos (POO)</li>
    <li>C#</li>
    <li>Python</li>
    <li>Java</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>PL/SQL</li>
    <li>R para Big Data</li>
  </ul>
</div>
