<div style="overflow: auto;">
  <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/donaciones-en-techforge?default_interval=o&show_content=true" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 100%; min-width: 100%; max-height:none!important"></iframe>
</div>
<div>
  <mat-dialog-actions  [align]="'center'">
    <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
  </mat-dialog-actions>
</div>
